.sign-up-container{
    overflow: hidden;
    box-sizing: border-box;

    background-color: blueviolet;

    display: flex;
    height:100%;
    

    flex-direction: column;
    align-items: center;

    gap: 20px;

    padding-top: 100px;
}
.sign-up-heading{
    color: aliceblue;
    margin: 0;
}