.options-contianer{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    z-index: 9999;
}

.modal {
    background: white;

    width: 500px;
    max-width: 90vw;

    min-height: 250px;

    padding: 24px;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


#options-create-column{
    height: 100%;
}