.table-table{
    background-color: blueviolet;
    /* height: 96.6%; */
    width: 100%;


    table-layout: fixed;
   
}


.table-cell{
    background-color: chartreuse;
    padding: 0;
    box-sizing: border-box;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    height: 10px;
    width:  10px;
}